.edit-table-form {
  padding: 1.5rem 0;
}

.remove-button {
  cursor: pointer;
}

.fa-times:hover {
  color: scale-color($orange, $lightness: 0%);
}

.back-to-table {
  margin-left: 1rem;
}

a.back-to-table {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $black;
}

a.back-to-table.medium-12.cell {
  padding: 0;
}

a.back-to-table:hover {
  color: scale-color($orange, $lightness: 0%);
}

.edit-add-player {
  margin-top: 1rem;
}

@media only screen and (max-width: 480px) {
  .edit-add-player-button {
    margin: 0.7rem 0 0.3rem 0.7rem;
  }

  a.back-to-table {
    font-size: 17px;
    margin-top: 1.1rem;
    margin-left: 9rem;
  }

  .edit-table-form {
    padding: 1rem 0;
  }
}