.edit-table-form {
  padding: 1.5rem 0;
}

.remove-button {
  cursor: pointer;
}

.fa-times:hover {
  color: scale-color($orange, $lightness: 0%);
}

.back-to-table {
  margin-left: 1rem;
}

a.back-to-table {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $black;
}

a.back-to-table:hover {
  color: scale-color($orange, $lightness: 0%);
}

.edit-add-player {
  margin-top: 1rem;
}