.button {
  font-family: "Hammersmith One", sans-serif;
  border-radius: 15px;
  box-shadow: inset -3px -3px 10px #c24a32;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.form-field {
  border-radius: 15px;
  box-shadow: inset -3px -3px 10px #eee;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-input-placeholder {
  font-style: italic;
}

input.search-input {
  line-height: 2.2;
  background: #fefefe;
  border: solid 1px #cacaca;
  padding-left: 10px;
}

.stat-form-field {
  font-style: italic;
  color: #cacaca;
}

.sign-in-up-header {
  font-family: "Hammersmith One", sans-serif;
  margin-bottom: 1.2rem;
}

.sign-in-up-form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

input.button.delete-button {
  margin-left: 20px;
}

input.loading {
  background: url(https://i.ibb.co/X2V5Fb0/loader.gif);
  background-color: #ffffff;
  background-size: 60px;
  background-position: right center;
  background-repeat: no-repeat;
}

.form-error {
  margin-top: 2px;
  margin-left: 15px;
}

input.button.chart-button {
  height: 41.4px;
}

@media only screen and (max-width: 740px) { 

}

@media only screen and (max-width: 480px) {
  .stat-form-field {
    margin-top: 1rem;
  }

  .stats-div {
    margin: 0 auto;
  }
  
    .add-clear-buttons {
      display: flex;
      justify-content: center;
    }

  .edit-delete-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .show-chart-buttons {
    margin: 0 auto;
  }

  input.search-input, .form-field {
    height: 2rem;
    font-size: 14px;
  }

  input.button.chart-button {
    height: 40.2px;
  }

  .button, input.button.add-player, input.button.clear-button, button.button.edit-button, input.button.delete-button {
    font-size: 13.5px;
  }
}
