.table-tile {
  margin: 1rem;
  background-color: rgba(47, 47, 47, 0.75);
  border-radius: 30px;
  box-shadow: rgba(47, 47, 47, 0.75) 0 0 6px;
  transition: transform .3s
}

.table-tile:hover {
  transform: scale(1.13);
}

.table-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.table-players {
  font-family: "Source Sans Pro", sans-serif;
  color: $textColor;
  font-size: 20px;
}

.table-userName {
  font-family: "Source Sans Pro", sans-serif;
  color: $textColor;
  font-size: 17px;
}
