.top-bar {
  position: relative;
  font-family: 'Yusei Magic', sans-serif;
  letter-spacing: .1rem;
}

.top-bar-right .menu {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1.5%;
}

.top-bar-left .menu {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  margin-left: 25%;
}

.top-bar-logo {
  box-sizing: content-box;
  width: 25%;
}

.top-bar-left {
  font-weight: bold;
  font-size: 160%;
}

.top-bar-right {
  font-size: 130%;
}

@media only screen and (max-width: 780px) {
  .top-bar-left {
    font-size: 100%;
  }

  .top-bar-right {
    font-size: 100%;
  }
}
