@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

@import "./topBar";
@import "./listPages";

body {
  background-color: #898989;
  background-image: url("https://i.ibb.co/XjXLTkz/background-LQ.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.page-body {
  margin: 0 10rem;
}

.list-body {
  margin: 0 2rem;
}

.under-construction {
display: block;
margin: 0 auto;
}

.save-table-form {
  padding: 2.5rem 0;
}

.button {
  font-family: 'Hammersmith One', sans-serif;
}

.remove-button {
  cursor: pointer;
}

.fa-times:hover {
  color: scale-color(#c7513a, $lightness: -14%);
}
