@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

@import "./topBar";

body {
  background-color: #898989;
  background-image: url("../background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.page-body {
  margin: 0 10rem;
}

.under-construction {
display: block;
margin: 0 auto;
}

.add-player-form {
  padding: 1rem 0;
}

.save-table-form {
  padding: 2.5rem 0;
}

.button {
  font-family: 'Hammersmith One', sans-serif;
}
