@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$dark-gray: #8a8a8a;
$black: #212527;
$orange: #c7513a;
$white: #fefefe;

@import "./topBar";
@import "./listPages";

body {
  background-color: #898989;
  background-image: url("https://i.ibb.co/XjXLTkz/background-LQ.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.page-body {
  margin: 0 10rem;
}

.list-body {
  margin: 0 2rem;
}

.under-construction {
  display: block;
  margin: 0 auto;
}

.save-table-form {
  padding: 2.5rem 0;
}

.edit-table-form {
  padding: 1.5rem 0;
}

.button {
  font-family: "Hammersmith One", sans-serif;
}

.remove-button {
  cursor: pointer;
}

.fa-times:hover {
  color: scale-color($orange, $lightness: -14%);
}

.back-to-table {
  margin-left: 1rem;
}

a.back-to-table {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $black;
}

a.back-to-table:hover {
  color: scale-color($orange, $lightness: -14%);
}

.edit-add-player {
  margin-top: 1rem;
}
